<head>
    <link href="/css/login/loginstyles.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body id="body-content">
    <div class="modal-body row">
        <div class="col-md-3" id="user-profile">
            <div class="row">
                <div class="col-xs-6">
                    <img id="user-icon" src="../images/userpic_elderly.png" class="img-responsive"/>
                </div>
                <div class="col-xs-6">
                    <h3 class="text-justify"><%= current_user.name %></h3>
                </div>
            </div>
            <div class="row">
                
                <h2>Contacts</h2>
                <p> João Carlos da Silva </p>
                <p> Gabriel Silva </p>
                <p> Luísa Santos </p>
                
            </div>
            <div class="row small">Icons made by <a href="http://www.freepik.com" title=" Freepik ">Freepik</a> from <a href="https://www.flaticon.com/" title=" Flaticon ">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title=" Creative Commons BY 3.0 " target="_blank">CC 3.0 BY</a></div>
        </div>
        <div class="col-md-6"id="conversation-content">
            <div class="row" id="conversation-content-video"> <!-- Plano de fundo Skype -->
            </div>

            <div class="row" id="conversation-content-activity">
                Current Activity
            </div>
        </div>
        
        <div class="col-md-3" id="conversation-options">
            <h3>Select another activity</h3>
            <div class="list-group" id="otheractivities">
                <div class="col-xs-6">
                    <a class="list-group-item" href="#"> <h3>Themesort </h3>
                    <img id="user-icon" src="../images/ativtemas.png" class="img-responsive"/>
                    </a>
                    <a class="list-group-item" href="#"> <h3>Hangman </h3>
                    <img id="user-icon" src="../images/ativjogoforca.png" class="img-responsive"/>
                    </a>
                    <a class="list-group-item" href="#"> <h3>Tic-tac-toe </h3>
                    <img id="user-icon" src="../images/ativjogodavelha.png" class="img-responsive"/>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</body>