<!DOCTYPE html>
<html lang="en">
    <% arr = [
"Trip",
"Dominoes",
"Circus",
"Spring",
"Toast",
"Treasure",
"Pirate",
"Frog",
"Eletricity",
"Nature",
"Outside",
"Ski",
"Palace",
"Deep",
"Music",
"Song"
    ] %>

<head>
    <!--<link href="/css/login/loginstyles.css" rel="stylesheet">-->
    <link href="/css/main.css" rel="stylesheet">
</head>
<body id="body-content">
    <div class="modal-body row">
        <div class="col-md-3" id="user-profile">
            <div class="row">
                <div class="col-xs-6">
                    <img id="user-icon" src="../images/william_oMaley.jpg" class="img-responsive"/>
                </div>
                <div class="col-s-6">
                    Current connection:
                    <h3 class="text-justify">William O'Maley</h3>
                    <!--<h3 class="text-justify"><%= current_user.name %></h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Connection Profile
                </div>
                <div class="col-xs-12">
                    Marital Status: Widower
                </div>
                <div class="col-xs-12">
                    Language: English
                </div>
                <div class="col-xs-12">
                    Hobbies: Snooker, Cards, bowling
                </div>
                <div class="col-xs-12">
                    Country: United States
                </div>
                <div class="col-xs-12">
                    Link Skype:
                </div>
            </div>
            
            <!--
            <div class="row">
                
                <h2>Contacts</h2>
                
                <ul>
                    <button class="btn btn-default btn-action">
                            <img src="../images/william_oMaley.jpg" width="25" /> William O'Maley
                    </button>
                    
                    
                    <button class="btn btn-default btn-action">
                            <img src="../images/katie_johnson.jpg" width="25" /> Katie Johnson   
                    </button>
                    

                    <button class="btn btn-default btn-action">
                            <img src="../images/mary_edwards.jpg" width="25" /> Mary Edwards
                    </button>
                    
                    </ul>
                
            </div>
            -->
            
            <!-- ../images/userpic_elderly.png -->
            <!--<div class="row small">Icons made by <a href="http://www.freepik.com" title=" Freepik ">Freepik</a> from <a href="https://www.flaticon.com/" title=" Flaticon ">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title=" Creative Commons BY 3.0 " target="_blank">CC 3.0 BY</a>
            </div>-->
        </div>
        <div class="col-md-6"id="conversation-content">
            <div class="row" id="conversation-content-activity">
                <h1>Current Activity: Guessing</h1>
                <h3>Try to explain the stuff sorted to your connection.</h3>
                <header class="masthead">
                  <div class="header-content">
                    <div class="header-content-inner" style="background-color: white;">
                      <h1>Stuff Sorted: <%= arr.at(rand(0..15)) %></h1>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">Resort</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="javascript:history.back()">Back</a>
                    </div>
                  
                  </div>
                </header>
            </div>
        </div>
        
        <div class="col-md-3" id="conversation-options">
            <h3>Start another activity</h3>
            <div class="list-group" id="otheractivities">
                
                    <ul>
                    <!--<button class="btn btn-default btn-action">
                            <img src="../images/ativtemas.png" width="50" /> Theme Sort
                    </button>
                    
                    
                    <button class="btn btn-default btn-action">
                            <img src="../images/ativguessing.png" width="50" /> Guessing   
                    </button>
                    

                    <button class="btn btn-default btn-action">
                            <img src="../images/ativoneword.png" width="50" /> One Word
                    </button>
                    -->
                    
                    <a class="list-group-item" href="/main/main"> 
                    <img id="user-icon" src="../images/ativtemas.png" class="img-responsive"/>
                    <h4>Theme Sort </h4>
                    </a>
                    <a class="list-group-item" href="/main/mainguessing"> 
                    <img id="user-icon" src="../images/ativguessing_s.png" class="img-responsive"/>
                    <h4>Guessing </h4>
                    </a>
                    <a class="list-group-item" href="/main/mainoneword"> 
                    <img id="user-icon" src="../images/ativoneword_s.png" class="img-responsive"/>
                    <h4>One Word </h4>
                    </a>
                    
                    </ul>
                    
                </div>
            </div>    
        </div>
        <!--<div class="row" id="conversation-content-activity">
            <div class="col-md-12">
                Current Activity
            </div>
        </div>
        -->
    </div> 
</body>