<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/main.css" rel="stylesheet">
</head>
<div class="modal-body">
    <div class="col-md-3" id="contact-profile">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h4>Current connection</h4>    
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img id="user-icon" src="../images/userpic_elderly.png" class="img-responsive"/>
            </div>
            <div class="col-xs-8">
                <h3><strong>Willian O'Maley</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h4><strong>Bio:</strong></h4>
                <h4><strong>Gender:</strong> Male</h4>
                <h4><strong>Knows:</strong> English</h4>
                <h4><strong>Learning:</strong></h4>
                <h4><strong>Skype:</strong></h4>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="conversation-content">
        <%= render partial: @activity %>
    </div>
    <div class="col-md-3" id="conversation-options">
        <h3>Start another activity</h3>
        <%= render partial: 'activities/activitysummary', :locals => {:activitytitle => "Themesort", :activityname => "themesort"} %>
        <%= render partial: 'activities/activitysummary', :locals => {:activitytitle => "Guessing", :activityname => "guessing"} %>
        <%= render partial: 'activities/activitysummary', :locals => {:activitytitle => "One Word", :activityname => "oneword"} %>
    </div>
</div>