<head>
    <link href="/css/login/loginstyles.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body id="body-content">
    <div class="modal-body row">
        <div class="col-md-3" id="user-profile">
            <div class="row">
                <div class="col-xs-6">
                    <img id="user-icon" src="../images/userpic_elderly.png" class="img-responsive"/>
                </div>
                <div class="col-xs-5">
                    <h3 class="text-justify"><%= current_user.name %></h3>
                </div>
            </div>
            <div class="row">
                
                <h2>Contacts</h2>
                
            </div>
            <div class="row small">Icons made by <a href="http://www.freepik.com" title=" Freepik ">Freepik</a> from <a href="https://www.flaticon.com/" title=" Flaticon ">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title=" Creative Commons BY 3.0 " target="_blank">CC 3.0 BY</a></div>
        </div>
        <div class="col-md-6"id="conversation-content">
            <div class="row" id="conversation-content-video">
            </div>
            <div class="row" id="conversation-content-activity">
                Activity
            </div>
        </div>
        <div class="col-md-3" id="conversation-options">
            <div class="list-group" id="otheractivities">
                <a class="list-group-item" href="#">Themesort</a>
                <a class="list-group-item" href="#">Hangman</a>
                <a class="list-group-item" href="#">Tic-tac-toe</a>
            </div>    
        </div>
    </div> 
</body>