#contact-profile{
    background-color: #f05f44;
    color: white;
    padding-top: 5%;
    padding-bottom: 12%;
}
#conversation-options{
    background-color: #bbb;
    color: #444;
    padding-top: 5%;
    padding-bottom: 35%;
}

#conversation-content-activity{
    padding-top:30%;
    padding-bottom:30%;
    padding-left:5%;
}
.references{
    font-size: 10px;
}
.references a{
    color: white !important;
}
#user-icon{
    background-color: white;
    width: 80px;
    height: 90px;
    
}
.user-profile{
    color: white;
}

#otheractivities a{
    color: #444;
    padding: 0px;
}
#otheractivities{
    padding-top: 5%;
    padding-bottom: 35%;
}


.activity{
    margin-top: 15px;
    padding-top: 5px;
    background-color: white;
    border-radius: 5px;
}
.activity a:hover{
    color: #f05f44;
}