#user-profile{
    background-color: #f05f44;
    color: white;
    padding: 50px;
}
#conversation-options{
    background-color: #bbb;
    color: #444;
}

#conversation-content-video{
    padding-top:30%;
    padding-bottom:30%;
    background-image: url("../images/skype-logo.png");
    background-size: contain;
    padding-left:5%;
}
#conversation-content-activity{
    background-color: #fff;
    padding-top:15%;
    padding-bottom:15%;
    padding-left:5%;
}
.references{
    font-size: 10px;
}
.references a{
    color: white !important;
}
#user-icon{
    background-color: white;
}
.user-profile{
    color: white;
}

#otheractivities a{
    color: #444;
    padding: 0px;
}