<!DOCTYPE html>
<% if @searchresults %>
  <h3>Results for <%= @search_idiom%></h3>
    <% @searchresults.each do |user| %>
      <%= render partial: 'selection/userintro', :locals => {:user => user} %>
    <% end %>
<% end %>
