<div class="container">
    <div class="row" style="margin-top: 15px">
        <div class="col-xs-12 col-md-4 userinfo">
           <a href="/main/main?user_id=<%=user.id %>">
                <div class="row" style="margin-top: 5px; margin-bottom: 5px">
                    <div class="col-xs-3 col-md-3">
                        <img src="../images/userpic_elderly.png" width="50" />
                    </div>
                    <div class="col-xs-9 col-md-9">
                       <p><strong><%= user.name %></strong></p>
                       <p>
                           <strong>Bio:</strong> <%= user.bio %>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>