<div class="container">
    <div class="row">
        <h2>Select the languages you want to teach or learn</h2>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="col-md-2 form-group">
                <div class="dropdown">
                  <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
                </div>
            </div>
            <div class="col-md-2 form-group">
                <label type="radio-inline"><input type="radio" name="learnorteach">Learn</label>
                <label type="radio-inline"><input type="radio" name="learnorteach">Teach</label>    
            </div>
            <div class="col-md-3 form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            
        </form>
    </div>
   <% @useridioms.each do |useridiom| %>
    <div class="row">
        <div class="col-md-6">
            <%= useridiom.idiom_id %>
        </div>
        <div class="col-md-6">
            <% if useridiom.learn? %>
                Learn
            <% else %>
                Teach
            <% end %>
                
        </div>
    </div>
   <% end %>

</div>