<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Elang</title>
        
        <button>Regular Button</button>
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-info">Info Button</button>
        <button class="btn btn-success">Success Button</button>
        <button class="btn btn-warning">Warning Button</button>
        <button class="btn btn-danger">Danger Button</button>
        <div class="row">
        <div class="col-xs-4">Left section</div>
        <div class="col-xs-4">Middle section</div>
        <div class="col-xs-4">Right section</div>
        
    </head>
    <body>
    <div class="row">    
        <div class="col-md-12" style="background-color: coral; color: white">
            <h1>elang</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-xs-4" >

        </div>
        <div class="col-xs-8">
          working on it!
        </div>
    </div>
    <div class="row">
        
    </div>
    </body>
</html>