<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style>
        .flag{
            width: auto;
            text-align: center; 
            padding-left: 118px;
            padding-top: 82px;
            background-repeat: no;
            border: none;
        }
        
        .ativ{
            width: auto;
            text-align: center; 
            background: url('images/ativjogodavelha.png');
            padding-left: 90px;
            padding-top: 90px;
            background-repeat: no;
            border: none;
        }
        .top-buffer { margin-top:20px; }
        .center-vertical { vertical-align:middle;}
        </style>
        
        
        <title>Elang</title>
    </head>
    
    <body>
    <div class="container">
        <div class="row top-buffer center-vertical"  style="background-color: coral; color: white;">    
            <div class="col-md-4">
                <h1>Elang</h1>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <input type="button" class="btn btn-secondary btn-lg" style="background-color: white; color: coral; vertical-align: middle; margin-top:2%;" value="Cadastrar"/>
                <input type="button" class="btn btn-secondary btn-lg" style="background-color: white; color: coral; vertical-align: middle; margin-top:2%;" onclick="window.location.href = 'login/login'" value="Login"/>
            </div>
        </div>    
        <div class="row top-buffer">
            <div class="col-xs-8 offset-col-xs-4">
                Bem-vindo ao Elang! Comece selecionando o país para definir a língua que você está aprendendo.
            </div>
            <div class="col-xs-8 offset-col-xs-4">
                Depois, selecione a atividade para começar a interação da melhor forma!
            </div>
        </div>
        <div class="row top-buffer">
          <h2>Selecionar o país</h2>  
        </div>
        <div class="row">
            <button class="flag" style="background-image: url('images/flagbrasil.png')"></button>
            <button class="flag" style="background: url('images/flagestadosunidos.png')"></button>
            <button class="flag" style="background: url('images/flagitalia.png')"></button>
            <button class="flag" style="background: url('images/flagalemanha.png')"></button>
            <button class="flag" style="background: url('images/flagfranca.png')"></button>
        </div>
        
<!--    Modelo para incluir imagens
        <div class="container">
            <img src="images/flagbrasil.png" class="img-rounded" width="118" height="82">
            <img src="images/flagalemanha.png" class="img-rounded" width="118" height="82">
            <img src="images/flagestadosunidos.png" class="img-rounded" width="118" height="82">
            <img src="images/flagfranca.png" class="img-rounded" width="118" height="82">
            <img src="images/flagitalia.png" class="img-rounded" width="118" height="82">
        </div> 
-->
            

        <div class="row">
          <h2>Selecionar a atividade</h2>
        
            <div class="row">
                <button class="ativ" style="background-image: url('images/ativjogodavelha.png')"></button>
                <button class="ativ" style="background-image: url('images/ativjogoforca.png')"></button>
                <button class="ativ" style="background-image: url('images/ativtemas.png')"></button>
            </div>

            <div class="row">
                <div class="col-xs-2 col-xs-offset-5">
                    <button class="btn btn-secondary btn-lg" style="background-color: coral; color: white;">Começar</button>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>