<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Elang</title>
    </head>
    <body>
        <h1>elang</h1>
        

         <div class="row">
    <div class="col-xs-4" >

    </div>
  <div class="col-xs-8">
      working on it!
  </div>
</div>
    </body>
</html>