<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Elang</title>
    </head>
    
    <body>
    <div class="row">    
        <div class="col-md-12" style="background-color: coral; color: white">
            <h1>Elang</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-xs-4" >

        </div>
        <div class="col-xs-8">
        Bem-vindo ao Elang! Comece selecionando o país para definir a língua que você está aprendendo.
        <div class="col-xs-8">
        Depois, selecione a atividade para começar a interação da melhor forma!
        
        <style>
        .flagbrasil{
            width: auto;
            text-align: center; 
            background: url('images/flagbrasil.png');
            padding-left: 110px;
            padding-top: 65px;
            background-repeat: no;
        }
        
        .flagestadosunidos{
            width: auto;
            text-align: center; 
            background: url('images/flagestadosunidos.png');
            padding-left: 110px;
            padding-top: 65px;
            background-repeat: no;
        }
        
        .flagitalia{
            width: auto;
            text-align: center; 
            background: url('images/flagitalia.png');
            padding-left: 110px;
            padding-top: 65px;
            background-repeat: no;
        }
        
        .flagalemanha{
            width: auto;
            text-align: center; 
            background: url('images/flagalemanha.png');
            padding-left: 110px;
            padding-top: 65px;
            background-repeat: no;
        }
        
        .flagfranca{
            width: auto;
            text-align: center; 
            background: url('images/flagfranca.png');
            padding-left: 110px;
            padding-top: 65px;
            background-repeat: no;
        }
        
        .ativjogodavelha{
            width: auto;
            text-align: center; 
            background: url('images/ativjogodavelha.png');
            padding-left: 90px;
            padding-top: 90px;
            background-repeat: no;
        }
        
        .ativjogoforca{
            width: auto;
            text-align: center; 
            background: url('images/ativjogoforca.png');
            padding-left: 90px;
            padding-top: 90px;
            background-repeat: no;
        }
        
        .ativtemas{
            width: auto;
            text-align: center; 
            background: url('images/ativtemas.png');
            padding-left: 90px;
            padding-top: 90px;
            background-repeat: no;
        }

        </style>
        
        
        <div class="container">
          <h2>Selecionar o país</h2>
        
            <div class="row">
            <button class="flagbrasil"></button>
            <button class="flagestadosunidos"></button>
            <button class="flagitalia"></button>
            <button class="flagalemanha"></button>
            <button class="flagfranca"></button>
            <div class="row">
        </div>
        
<!--    Modelo para incluir imagens
        <div class="container">
            <img src="images/flagbrasil.png" class="img-rounded" width="118" height="82">
            <img src="images/flagalemanha.png" class="img-rounded" width="118" height="82">
            <img src="images/flagestadosunidos.png" class="img-rounded" width="118" height="82">
            <img src="images/flagfranca.png" class="img-rounded" width="118" height="82">
            <img src="images/flagitalia.png" class="img-rounded" width="118" height="82">
        </div> 
-->
            

        <div class="row">
          <div class="container">
          <h2>Selecionar a atividade</h2>
        
            <div class="row">
            <button class="ativjogodavelha"></button>
            <button class="ativjogoforca"></button>
            <button class="ativtemas"></button>
            <div class="row">
        </div>

        
        
    </div>
    <div class="row">
        
    </div>
    </body>
</html>