<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Elang Login</title>
        <style>
             .top-buffer { margin-top:20px; }
            
        </style>
        
    </head>
    <body>
       <div class="container">
        <div class="row top-buffer center-vertical"  style="background-color: coral; color: white;">    
            <div class="col-md-4">
                <h1>Elang</h1>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-secondary btn-lg" style="background-color: white; color: coral; vertical-align: middle; margin-top:2%;">Cadastrar</button>
            </div>
        </div>   
        <div class="row">
           <div class="col-xs-6 col-xs-offset-3" style="background-color: coral; margin-top: 20%; padding: 50px; text-align:center">
               <div class="row"  style="color:white;">
                   <h2>Login</h2>        
               </div>
               <div class="row">
                    <div class="row top-buffer">
                       <div class="col-xs-3 badge">E-mail:</div> 
                       <div class="col-xs-9"><input class="form-control" id="email" placeholder="email@provedor.com" type="e-mail"/></div>
                    </div>
                    <div class="row top-buffer">
                       <div class="col-xs-3 badge">Senha:</div>
                       <div class="col-xs-9"><input class="form-control" id="pw"  type="password"/></div>
                    </div>
               </div>
               <div class="row">
                   <button class="btn  btn-secondary btn-lg top-buffer">Entrar</button>
               </div>
           </div>    
       </div>
       </div>
     </body>
</html>