<div class="row">
    <div class="activity col-md-10 col-md-offset-1">
        <a href="/activities/<%=activityname%>">
            <div class="row">
                <div class="col-md-5">
                    <img id="user-icon" src="../images/<%=activitytitle%>.png" width="50" class="img-responsive"/>
                </div>
                <div class="col-md-7">
                    <h4><%= activitytitle %></h4>
                </div>
            </div>
        </a>
    </div>
</div>